body{
    background-color: bisque;
    color: black;
    font-family: bebas 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
}

#smain{
    position: relative;top: -500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

#pmain{
    position: relative;top: -700px;
    position: relative;right: -1550px;
    color: blue;
}

#navbar ul {
    padding: 0px;
    list-style: none;
    
}

#navbar p{
    display: inline;
    margin-left: 70px;
    width: 50px;   
    color: white;
    font-size: 20px;
} 
 
#navbar li{
    text-align: right;
    margin: -10px;
    padding: 8px;

}

.burger{
    margin:70px;
    width: 370px;
    position: relative;right: -100px;
    position: relative;top: -20px;
}

.imagestyle1 {
    position: relative; top: -400px;
    position: relative;right: -600px;
    width: 450px;
}

.imagestyle2{
    position: relative;top: -700px;
    position: relative;right: -1100px;
    width: 430px;
}

#main{
    position: relative;top: -800px;
    color: black;
}

#nmain{
    position: relative;top: -860px;
    position: relative;left: -3px;
    color: black;
    background-color: aqua;
}



    


           
    